.censor-rule {
  .section-header {
    cursor: pointer;
    margin-bottom: 10px;
  }

  .remove-button {
    cursor: pointer;
  }

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}