$transition-speed: 0.3s !default;
$caret-transition: 0.2s ease;

.collapsible {
  height: auto;
  overflow: hidden;
  transition: height $transition-speed ease;
  margin: 5px;
}

.caret {
  .caret-inner {
    transition: transform $caret-transition;
  }
  &.caret-open {
    .caret-inner {
      transform: rotate(-90deg);
    }
  }
}
