$transition-speed: 0.3s !default;
$caret-transition: 0.2s ease;

.collapsible {
  height: auto;
  overflow: hidden;
  transition: height $transition-speed ease;
  margin: 5px;

  .visible {
    overflow: visible;
  }
}

.caret {
  transition: transform $caret-transition;
  &.caret-open {
    transform: rotate(-90deg);
  }
}
