@import "~bootstrap/scss/variables";

.spam-rules {

  margin-bottom: 15px;

  .spam-rule {
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    height: 100%;

    border-radius: $card-border-radius;
    border: $card-border-width solid $card-border-color;

    .level::before {
      content: "Level ";
    }

    .level {
      font-weight: bold;
      cursor: pointer;
    }

    .delete-button {
      float: right;
      margin-right: 5px;
      cursor: pointer;
    }

    .spam-items {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .spam-item {
        h5 {
          margin-top: 0;
        }
        margin: 10px 10px;
        border: $card-border-width solid rgba(0, 0, 0, 0.075);
        padding: 10px;
        border-radius: $card-border-radius;
      }
    }
  }
}
