// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'overrides.scss';

// Toastr
@import "~toastr/toastr";

@import 'elements/form';
@import 'elements/switch';
@import 'elements/dashboard';
@import 'elements/logSettings';
@import 'elements/transitions';
@import 'elements/queue';
@import 'elements/quotes';
@import 'elements/server_select';
@import 'elements/spam';
@import 'elements/collapse';
@import 'elements/censor';
@import 'home';

.fa-btn {
  margin-right: 10px;
}


.greyscale {
  filter: grayscale(100%);
}

#app {
  margin-bottom: 20px;
}


@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

// Fix ugly dropdowns on firefox
@supports (-moz-appearance: none) {
  select {
    -moz-appearance: none;
    background: transparent url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') right center no-repeat !important;
    background-position: calc(100% - 10px) center !important;
  }
}