@import "~bootstrap/scss/variables";
// Bootstrap overrides

// Override custom forms
.custom-control-label::before, .custom-control-label::after {
  transition: 0.2s all;
}
.custom-control-label {
  user-select: none;
}

// Let us apply the is-valid selector directly to a form group
.form-group.is-valid {
  .valid-feedback {
    display: block;
  }
  .form-control {
    border-color: $form-feedback-valid-color;
  }
  .form-control:focus {
    box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-valid-color, 0.25)
  }
}

.form-group.is-invalid {
  .invalid-feedback {
    display: block;
  }
  .form-control {
    border-color: $form-feedback-invalid-color;
  }
  .form-control:focus {
    box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-invalid-color, 0.25)
  }
}